<% content_for :title, "Food" %>

<h1>Foods</h1>

<% if user_signed_in? %>
<%= link_to "New food", new_food_path, class:"btn btn-outline-secondary mt-3" %>
<% end %>



<!--<div class="row my-5">
  <% @foods.each do |food| %>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= food.name %></h3>
          <div class="mb-1 text-body-secondary"><%= food.created_at.strftime('%d %b %y') %></div>
          <p class="card-text mb-ato">Price: $<%= food.price %></p>
          <i class="d-inline-block mb-2 text-primary-emphasis">Created by: <%= food.user.name %></i>
          <%= link_to "Show this food", food, class:"icon-link gap-1 icon-link-hover stretched-link" %>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://scalebranding.com/wp-content/uploads/2020/03/fun-food-logo-1080x1080.jpg" alt="logo" class="bd-placeholder-img" width="250" height="250" />
        </div>
      </div>
    </div>
  <% end %>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurment unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name%></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td>
        <% if can?(:delete, @food) %>
          <%= button_to "Delete this food", @food, method: :delete, class:"btn btn-danger my-3" %>
        <% end %>
      <td>
    </tr>
    <% end %>
  </tbody>
</table>

